<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      To set no availability for a day, set the start time later than the end time. <br /><br />
      
      <%= f.label :sunday_start %>
      <%= f.time_select :sunday_start, class: 'form-control' %>
      <%= f.label :sunday_end %>
      <%= f.time_select :sunday_end, class: 'form-control' %>
      
      <%= f.label :monday_start %>
      <%= f.time_select :monday_start, class: 'form-control' %>
      <%= f.label :monday_end %>
      <%= f.time_select :monday_end, class: 'form-control' %>
      
      <%= f.label :tuesday_start %>
      <%= f.time_select :tuesday_start, class: 'form-control' %>
      <%= f.label :tuesday_end %>
      <%= f.time_select :tuesday_end, class: 'form-control' %>
      
      <%= f.label :wednesday_start %>
      <%= f.time_select :wednesday_start, class: 'form-control' %>
      <%= f.label :wednesday_end %>
      <%= f.time_select :wednesday_end, class: 'form-control' %>
      
      <%= f.label :thursday_start %>
      <%= f.time_select :thursday_start, class: 'form-control' %>
      <%= f.label :thursday_end %>
      <%= f.time_select :thursday_end, class: 'form-control' %>
      
      <%= f.label :friday_start %>
      <%= f.time_select :friday_start, class: 'form-control' %>
      <%= f.label :friday_end %>
      <%= f.time_select :friday_end, class: 'form-control' %>
      
      <%= f.label :saturday_start %>
      <%= f.time_select :saturday_start, class: 'form-control' %>
      <%= f.label :saturday_end %>
      <%= f.time_select :saturday_end, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>